<div class="row">
    <div class="large-12 columns">
        <h1>Welcome to Job Tracker</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Things to do...</h3>
            <div class="row">
         
                <div class="large-4 medium-4 columns">
                    
                    <p>
                        @Html.ActionLink("Candidates", "Index", new { controller = "Candidate"})
                    </p>

                    <p>
                        @Html.ActionLink("Apply For a Job", "ApplyForJob", new {controller = "JobApplication", jobId = 1})
                    </p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p>
                        @Html.ActionLink("Candidate Details (Partial Views & Actions)", "Detail", new {controller= "Candidate", id=1}))
                    </p>
                    <p>
                        @Html.ActionLink("Child Action (error)", "CandidateAdress", "Candidate")
                    </p>
                </div>
                
                <div class="large-4 medium-4 columns">
                    <p>
                        @Html.ActionLink("Result Types", "Index", "ResultTypes")
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>


