
@{
    ViewBag.Title = "RESULT TYPES";
}

<div class="row">
    
    <div class="large-12">
        <h1>MVC Return Types</h1>
    </div>
</div>


<div class="row">
    <div class="large-6">
        <ul>
            <li>@Html.ActionLink("View Result", "ViewResult")</li>
            <li>@Html.ActionLink("Partial View Result", "PartialViewResult")</li>
            <li>@Html.ActionLink("Redirect Result", "RedirectResult")</li>
            <li>@Html.ActionLink("Redirect to Route Result", "RedirectToRouteResult")</li>
            <li>@Html.ActionLink("Content Result", "ContentResult")</li>
            <li>@Html.ActionLink("Json Result", "JsonResult")</li>
            <li>@Html.ActionLink("Javascript Result", "JavaScriptResult")</li>
            <li>@Html.ActionLink("File Result", "FileResult")</li>
            <li>@Html.ActionLink("Empty Result", "EmptyResultAction")</li>
        </ul>

    </div>

</div>


